<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seng Blog</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/blogs.css">
    <script src="../public/js/blogs.js" async></script>
</head>
<body>
    <nav class="nav">
        <h5>SENG BLOG</h5>
        <button id="newBtn">CREATE NEW BLOG</button>
    </nav>
    <div class="blog__container" id="blogContainer">
        <div class="blog">
            <div class="blog__header">
                <div>
                    <h4>My first post</h4>
                    <small>12:45 PM</small>
                </div>
                
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ullam commodi culpa architecto dignissimos, numquam tempore quibusdam eaque? Nisi culpa sapiente quibusdam consequatur facilis repellendus. Labore aperiam voluptate soluta quo.</p>
        </div>
    </div>
</body>
</html>