<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seng Blog | Create new blog</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/new-blog.css">
    <script src="../public/js/new-blog.js" async></script>
</head>
<body>
    <form id="blogForm" class="new__form__container">
        <nav class="nav">
            <h5>SENG BLOG</h5>
            <div>
                <button class="cancel__btn" id="cancelBtn">CANCEL</button>
                <button type="submit" id="saveBtn">SAVE BLOG</button>
            </div>
        </nav>
        <div class="new__form">
            <input autofocus required type="text" id="blogTitle" placeholder="Title">
            <textarea required id="blogBody" placeholder="Your write-up goes here..."></textarea>
        </div>
    </form>
</body>
</html>