.blog__container {
    padding: 16px;
}

.blog {
    display: flex;
    flex-flow: column;
    gap: 8px;
    border: solid 1px #333;
    padding: 8px;
    margin-bottom: 16px;
}

.blog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.blog__header small {
    color: gray;
    font-size: x-small;
}

.edit__icon {
    cursor: pointer;
    width: 24px;
}

.edit__icon:active {
    transform: scale(0.93);
}

#noBlogText {
    color: gray;
    text-align: center;
}